@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
.max-height {
  min-height: 100vh;
}
body{
  background: url('1.jpeg') no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.quote-container {
  background: rgba(243, 239, 239, 0.5);
}
#generate-btn {
  color:black !important;
  background: #B8E2F0 !important;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 2.7rem;
  padding: 0.5rem 1rem;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
}
#generate-btn:hover {
  background: #b09e99 !important;
  border-color: #b09e99 !important;
  color: #333333 !important;
  outline: none;
  border: none;
}

#generate-btn:focus{
  outline: none;
  border: none;
}
.quote-icon{
  font-size: 2rem;
  color: black;
}
#quote{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.author {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Yesteryear', cursive;
}
